<div class="card-header">
  <h1>Thank you</h1>
</div>
<br />
<!-- <div class="card" *ngIf="toy"> -->
<div class="card">

  <div class="table-responsive">
    <table class="table">
      <td width="70%" align="left">
        <thead>
          <tr>
            <th>Product Picture</th>
            <th>Items</th>
            <th>Quantity</th>
            <th>Price (THB)</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th>
              <img src="{{ toy.toyImage }}" width="50px" />
            </th>
            <th>
              {{ toy.toyName }} by {{ toy.toyBrand }}
              <br />
              {{ toy.toyGender }} {{ toy.toyAge }}

              <h4 *ngIf="toy.toyAvailable" style="color: green;">In Stock</h4>

              <h4 *ngIf="!toy.toyAvailable" style="color: red;">
                Out of Stock
              </h4>
              <button style="color: red;">Delete</button>
            </th>
            <th>1</th>
            <th>{{ (toy.toyPrice * 31.5).toFixed(2) }}</th>
          </tr>
        </tbody>
      </td>
      <td width="40%" align="left">
        <h5>Order Summary</h5>
        <p style="text-indent: 30px;">Items(1): {{ (toy.toyPrice * 31.5).toFixed(2) }} THB</p>
        <p style="text-indent: 30px;">Shipping Fee: 30.00 THB</p>
        <p style="text-indent: 30px;">Order total: {{ (toy.toyPrice * 31.5 + 30).toFixed(2) }} THB</p>
      </td>
      <!-- <tr>
        <td align="left" colspan="3">
          <br />
          Shipping Method: EMS
          <br />
        </td>
      </tr> -->
    </table>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <h5>Shipping Method: </h5>
      EMS
    </div>
    <div class="row">
      <h5>Payment Method: </h5>
      LinePay
    </div>
  </div>
</div>