<div class="card-header">
  <h1>Thank you</h1>
</div>
<br />
<!-- <div class="card" *ngIf="toy"> -->
<div class="card">

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Product Picture</th>
          <th>Items</th>
          <th>Quantity</th>
          <th>Price (THB)</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>
            <img src="https://i3.sndcdn.com/avatars-qgCqB1ryryQ5LUBz-2jFd8g-t500x500.jpg" width="100px" />
          </th>
          <th>
            <!-- {{ toy.toyName }} by {{ toy.toyBrand }}
              <br>
              {{ toy.toyGender }} {{ toy.toyAge }}  -->
            Name by Brand
            <br>
            Gender Age
            <h5 style="color: green;">In Stock</h5>
            <button style="color: red;">Delete</button>
            <!-- product available -->
            <!-- <h4 *ngIf="toy.toyAvailable" style="color: green;">In Stock</h4> -->
            <!-- product unavailable -->
            <!-- <h4 *ngIf="toy.toyAvailable" style="color: red;">Out of Stock</h4> -->
          </th>
          <th>
            <select>
              <option value="">choose</option>
              <option value="01">1</option>
            </select>
          </th>
          <th>1699</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <h5>Shipping Method: </h5>
      EMS
    </div>
    <div class="row">
      <h5>Payment Method: </h5>
      LinePay
    </div>
  </div>
</div>