<!-- <div class="card" *ngIf="toy"> -->
<div class="card">
  <div class="card-header centerTopic">
    <h4>Payment Methods</h4>
  </div>
  <div class="table-responsive">
    <table class="table">
      <td width="70%" align="left">
        <thead>
          <tr>
            <th>Product Picture</th>
            <th>Items</th>
            <th>Quantity</th>
            <th>Price (THB)</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th>
              <img src="{{ toy.toyImage }}" width="50px" />
            </th>
            <th>
              {{ toy.toyName }} by {{ toy.toyBrand }}
              <br />
              {{ toy.toyGender }} {{ toy.toyAge }}

              <h4 *ngIf="toy.toyAvailable" style="color: green;">In Stock</h4>

              <h4 *ngIf="!toy.toyAvailable" style="color: red;">
                Out of Stock
              </h4>
            </th>
            <th>1</th>
            <th>{{ (toy.toyPrice * 31.5).toFixed(2) }}</th>
          </tr>
        </tbody>
      </td>
      <td width="40%" align="left">
        <h5>Order Summary</h5>
        <p id="item_cost" style="text-indent: 30px;">
          Items(1): {{ (toy.toyPrice * 31.5).toFixed(2) }} THB
        </p>
        <p id="shipping_fee" style="text-indent: 30px;">
          Shipping Fee: {{ shipping[cart.shippingMethod].toFixed(2) }} THB
        </p>
        <p id="total" style="text-indent: 30px;">
          Order total:
          {{ (toy.toyPrice * 31.5 + shipping[cart.shippingMethod]).toFixed(2) }}
          THB
        </p>
      </td>
      <tr>
        <td align="left" colspan="3">
          <br />
          Shipping Method: {{ cart.shippingMethod }}
          <br />
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5>Select payment methods</h5>
    <div class="radio" id="pay_option">
      <label
        ><input
          type="radio"
          id="Credit_card"
          name="optradio"
          (click)="show1 = !show1"
          (change)="show2 = false"
        />
        Credit Cards</label
      >
      <div *ngIf="show1">
        <p style="text-indent: 30px;">
          <input
            type="radio"
            id="Credit_card_mastercard"
            name="optradio"
            (click)="clickPayment(' Credit card use Mastercard')"
          />
          Mastercard
        </p>
        <p style="text-indent: 30px;">
          <input
            type="radio"
            id="Credit_card_mastercard"
            name="optradio"
            (click)="clickPayment(' Credit card use Visa')"
          />
          Visa
        </p>
      </div>
    </div>
    <div class="radio">
      <label
        ><input
          type="radio"
          id="Debit_card"
          name="optradio"
          (click)="show2 = !show2"
          (change)="show1 = false"
        />
        Debit Cards</label
      >
      <div *ngIf="show2">
        <p style="text-indent: 30px;">
          <input
            type="radio"
            id="Debit_card_KBANK"
            name="optradio"
            (click)="clickPayment(' Debit Card use KBANK')"
          />
          KBANK
        </p>
        <p style="text-indent: 30px;">
          <input
            type="radio"
            id="Debit_card_SCB"
            name="optradio"
            (click)="clickPayment(' Debit Card use SCB')"
          />
          SCB
        </p>
        <p style="text-indent: 30px;">
          <input
            type="radio"
            id="Debit_card_TMB"
            name="optradio"
            (click)="clickPayment(' Debit Card use TMB')"
          />
          TMB
        </p>
        <p style="text-indent: 30px;">
          <input
            type="radio"
            id="Debit_card_BAY"
            name="optradio"
            (click)="clickPayment(' Debit Card use BAY')"
          />
          BAY
        </p>
        <p style="text-indent: 30px;">
          <input
            type="radio"
            id="Debit_card_GSB"
            name="optradio"
            (click)="clickPayment(' Debit Card use GSB')"
          />
          GSB
        </p>
      </div>
    </div>
    <div class="radio">
      <label
        ><input
          type="radio"
          id="Line_pay"
          name="optradio"
          (change)="show1 = false"
          (change)="show2 = false"
          (click)="clickPayment('linepay')"
        />
        Line Pay</label
      >
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body" style="text-align: right;">
    <button
      class="btn btn-primary"
      [routerLink]="['/order-success']"
      id="btn_order"
      style="width: 200px;"
    >
      <i class="fa fa-chevron-right"></i> Place your order
    </button>
  </div>
</div>
