<div class="card">
  <div class="card-header">
    List of Product Page
  </div>
  <div class="card-body">
    <div>
      Gender:
      <select [(ngModel)]="gender" name="gender">
        <option value="">Select gender..</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Neutral">Neutral</option>
      </select>
    </div>
    <br />
    <br />
    <div>
      Age :
      <select [(ngModel)]="age" name="age">
        <option value="">Select age..</option>
        <option value="Baby">Baby</option>
        <option value="Toddler">Toddler</option>
        <option value="3 to 5">3 to 5</option>
        <option value="6 to 8">6 to 8</option>
        <option value="Over 8">Over 8</option>
      </select>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              <button type="button" class="btn btn-primary">
                Product Image
              </button>
            </th>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Price</th>
            <th>Available</th>
          </tr>
        </thead>
        <tbody *ngIf="toyList.length > 0">
          <tr
            *ngFor="let toy of toyList | product: age:gender"
            [routerLink]="['/search', toy.toyID]"
          >
            <th>image</th>
            <th>{{ toy.toyName | uppercase }}</th>
            <th>{{ toy.toyBrand | uppercase }}</th>
            <th>{{ toy.toyGender | uppercase }}</th>
            <th>{{ toy.toyAge | uppercase }}</th>
            <th>{{ toy.toyPrice | number: "1.2" }}</th>
            <!-- 2 decimal point -->
            <th *ngIf="toy.toyAvailable" style="color: green;">In Stock</th>
            <!-- product available -->
            <th *ngIf="!toy.toyAvailable" style="color: red;">Out of Stock</th>
            <!-- product unavailable -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
