<form name="myform" method="POST">
  <div>
    Gender:
    <select name="gender">
      <option value="">Select gender..</option>
      <option value="Jan">Male</option>
      <option value="Feb">Female</option>
      <option value="Mar">Neutral</option>
    </select>
  </div>
  <br />
  <br />
  <div>
    Age :
    <select name="age">
      <option value="">Select age..</option>
      <option value="01">Baby</option>
      <option value="02">Toddler</option>
      <option value="03">3 to 5</option>
      <option value="03">6 to 8</option>
      <option value="03">Over 8</option>

    </select>
  </div>

  <input type="text" [(ngModel)]="inputSearch">


  <tbody *ngIf="toyList.length > 0">
    <tr *ngFor="let toy of toyList | filterbyName: inputSearch" [routerLink]="['/product',product.code]">
      <th><a href="">{{ toy.imageUrl }}</a></th>
      <th>{{ toy.code }}</th>
      <th>{{ toy.name | uppercase | productName }}</th>
      <th>{{ toy.price | number: "1.2" }}</th> <!-- 2 decimal point -->
      <th *ngIf="toy.available">Yes</th> <!-- product available -->
      <th *ngIf="!toy.available">No</th> <!-- product unavailable -->
      <th>
        <app-rating [rating]="product.rating" (ratingClicked)="onRatingClicked($event)">
        </app-rating>
      </th>
    </tr>
  </tbody>

  <router-outlet></router-outlet>