<div>
  Gender:
  <select name="gender">
    <option value="">Select gender..</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="neutral">Neutral</option>
  </select>
</div>
<br />
<br />
<div>
  Age :
  <select name="age">
    <option value="">Select age..</option>
    <option value="baby">Baby</option>
    <option value="toddler">Toddler</option>
    <option value="3_to_5">3 to 5</option>
    <option value="6_to_8">6 to 8</option>
    <option value="over_8">Over 8</option>

  </select>
</div>

<input type="text" [(ngModel)]="inputSearch">

<table>
  <tbody *ngIf="toyList.length > 0">
    <tr *ngFor="let toy of toyList | filterbyName: inputSearch" [routerLink]="['/product',product.code]">
      <th>{{ toy.toyName | uppercase | productName }}</th>
      <th>{{ toy.toyBrand | uppercase | productName }}</th>
      <th>{{ toy.toyGender | uppercase | productName }}</th>
      <th>{{ toy.toyAge | uppercase | productName }}</th>
      <th>{{ toy.toyPrice | number: "1.2" }}</th> <!-- 2 decimal point -->
      <th *ngIf="toy.toyAvailable">Yes</th> <!-- product available -->
      <th *ngIf="!toy.toyAvailable">No</th> <!-- product unavailable -->
      <th>
        <app-rating [rating]="product.rating" (ratingClicked)="onRatingClicked($event)">
        </app-rating>
      </th>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>

ublic toyID: string,
public toyName: string,
public toyGender: string,
public toyAge: string,
public toyPrice: number,
public toyAvailable: boolean,
public toyBrand: string