<!-- <div class="card" *ngIf="toy"> -->
<div class="card">
  <div class="card-header centerTopic">
    <h4>Shopping Cart</h4>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Product Picture</th>
          <th>Items</th>
          <th>Quantity</th>
          <th>Price (THB)</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>
            <img src="{{ toy.toyImage }}" width="50px" />
          </th>
          <th>
            {{ toy.toyName }} by {{ toy.toyBrand }}
            <br />
            {{ toy.toyGender }} {{ toy.toyAge }}

            <h4 *ngIf="toy.toyAvailable" style="color: green;">In Stock</h4>

            <h4 *ngIf="!toy.toyAvailable" style="color: red;">
              Out of Stock
            </h4>
            <button style="color: red;">Delete</button>
          </th>
          <th>
            <select>
              <option value="">choose</option>
              <option value="01">1</option>
            </select>
          </th>
          <th>{{ (toy.toyPrice * 31.5).toFixed(2) }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5>Select Shipping Method</h5>
    <div class="radio">
      <label
        ><input type="radio" id="kerry" name="optradio" checked />Kerry</label
      >
    </div>
    <div class="radio">
      <label><input type="radio" id="lineman" name="optradio" />Lineman</label>
    </div>
    <div class="radio">
      <label><input type="radio" id="EMS" name="optradio" />EMS</label>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body" style="text-align: right;">
    <button
      type="submit"
      class="btn btn-primary"
      id="btn_checkout"
      [routerLink]="['/shipping-address']"
      style="width: 200px;"
    >
      <i class="fa fa-chevron-right"></i> Process to checkout
    </button>
  </div>
</div>
